@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f6;
}

.app-container {
  max-width: 1500px;
  margin: auto;
  padding: 35px 25px;
  display: grid;
  grid-template-columns: auto 8.5in;
  gap: 20px;
}

.app-container > * {
  border-radius: 12px;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.personal-details-section,
.education-section,
.experience-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
}

.education-section > *,
.experience-section > * {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 40px;
}

.education-section > h2,
.experience-section > h2 {
  padding-bottom: 0;
}

input,
textarea {
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 12px;
  background-color: #f3f4f6;
}

.resume-preview {
  background-color: white;
  border-radius: 12px;
}

.resume-header {
  background-color: #671c1c;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 12px 12px 0 0;
}

.contact-info {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 10px;
}

.resume-body {
  margin: 40px;
}

.section-header {
  text-align: center;
  padding: 5px;
  color: white;
  background-color: rgba(103, 28, 28, 0.5);
}

.section-layout {
  display: flex;
  gap: 50px;
  margin: 20px 0;
}

.description {
  margin-top: 10px;
}
